/* From google fonts (Poppins) import the style*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* single colon (:) for pseudo-elements */
:root{  /* since we want all the variables to be as global variables ; therefore we will put it all under :root { } */ 
    /* Variable names */
    --color-white: hsl(252, 30%, 100%); /* to declare a variable give two hifins along with variable name ( --variable-name ) */
    /* hsl() means heu, saturation , lightness */
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%); 
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%); 
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, 17%); 
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem; 
    --btn-padding: 0.6rem 2rem;
    ---search-padding: 0.6rem 1rem; 
    --card-padding: 1rem;

}
/*
--sticky-top-left: 5.4rem; 
--sticky-top-right: -18rem;
*/

/* double colons (::) for pseudo-classes */
*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: "Poppins", sans-serif;  /* Paste the font family as well if you have added the fonts from fonts.googleapis.com*/
    color: var(--color-dark);   /* to assign the variable --color-dark to color property */
    background: var(--color-light);
    overflow-x: hidden;   /* overflow-x specifies what to do with the left/right edges of the content. & hidden means that the overflow is clipped, and the rest of the content is hidden */
}

/* GENERAL STYLES */
.container{
    width: 80%;
    margin: 0 auto; /* top and bottom margins are 0
    * right and left margins are auto ; tells the browser to automatically determine the left and right margins itself, which it does by setting them equally */
}

.profile-photo{  
    width: 2.7rem;
    aspect-ratio: 1/1;  /* so the height and width of the img is same */
    border-radius: 50%;
    overflow: hidden; /* hidden means that the overflow is clipped, and the rest of the content is hidden */
}

img {
    display: block;
    width: 100%;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background: var(--color-primary);
    color:white;
}

.text-bold{
    font-weight: 500;
}

.text-muted{
    color: var(--color-gray);
}

/*================================ NAVBAR ====================*/

nav{
    width: 100%;     /* will cover entire screen size (responsive) */
    background:  var(--color-white);
    padding: 0.7rem0;
    position: fixed;
    top: 0;
    z-index: 10;   /* precidence in display over z-index 9 */
}

nav .container{
    display: flex;  /* whatever is inside the container will come inside a flex box*/
    align-items: center;        /* items will be in the center vertically and horizontally */
    justify-content: space-between;  /* justified space between tags; according to the screen size */
}

